readers:
    File_reader:
        method_type: log_file_reader
        auto_config: False
        params:
            file: local/miranda.json

parsers:
    MatcherParser:
        method_type: matcher_parser
        auto_config: False
        log_format: "type=<Type> msg=audit(<Time>): <Content>"
        time_format: null
        params:
            remove_spaces: True
            remove_punctuation: True
            lowercase: True
            path_templates: tests/test_folder/audit_templates.txt

    JsonMatcherParser:
        method_type: matcher_parser
        auto_config: False
        log_format: "<Content>"
        time_format: null
        params:
            remove_spaces: True
            remove_punctuation: True
            lowercase: True
            path_templates: local/miranda_templates.txt

    JsonParser:
        method_type: json_parser
        time_format: null
        auto_config: False
        params:
            timestamp_name: "time"
            content_name: "message"
            content_parser: JsonMatcherParser

detectors:
    RandomDetector:
        method_type: random_detector
        auto_config: False
        params:
            log_variables:
                - id: test
                  event: 1
                  template: dummy_template
                  variables:
                    - pos: 0
                      name: var1
                      params:
                        threshold: 0.
                  header_variables:
                    - pos: level
                      params: {}

    NewValueDetector:
        method_type: new_value_detector
        auto_config: False
        params:
            log_variables:
                - id: test
                  event: 1
                  template: dummy_template
                  variables:
                    - pos: 0
                      name: var1
                      params:
                        threshold: 0.
                  header_variables:
                    - pos: level
                      params: {}
    NewValueDetector_All:
        method_type: new_value_detector
        auto_config: False
        params:
            all_log_variables:
                  variables:
                    - pos: 0
                      name: var1
                      params:
                        threshold: 0.
                  header_variables:
                    - pos: level
                      params: {}

    NewValueComboDetector:
        method_type: new_value_combo_detector
        auto_config: False
        params:
            comb_size: 2
            log_variables:
                - id: test
                  event: 1
                  template: dummy_template
                  variables:
                    - pos: 0
                      name: var1
                      params:
                        threshold: 0.
                  header_variables:
                    - pos: level
                      params: {}
    NewValueComboDetector_All:
        method_type: new_value_combo_detector
        auto_config: False
        params:
            comb_size: 2
            all_log_variables:
                  variables:
                    - pos: 0
                      name: var1
                      params:
                        threshold: 0.
                  header_variables:
                    - pos: level
                      params: {}
